---
import PhotoBasic from '../components/photoBasic.astro';
import photoMetas from '../assets/photos/metas.json';
const photoGlobs = await Astro.glob('../assets/photos/*.jpg');

const photos = photoGlobs.map(photo => {
	return photo.default;
});

// photoSrc is something like the following string.
// /@fs/C:/Users/limited/projects/astro/photos/src/assets/photos/PXL_20230404_212954540.MP.jpg?origWidth=1000&origHeight=751&origFormat=jpg
const findMeta = (photoSrc: string) => {
	const preQ = photoSrc.substring(0, photoSrc.indexOf('?'));
	const filename = preQ.substring(preQ.lastIndexOf('/') + 1);
	return photoMetas.find(meta => (`${meta.filename}${meta.fileExt}` === filename))
};


const imgWidth = 900;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<div class="app">
			<h2>number of photos: {photos.length}</h2>
			<ul>
				{photos.map((photo) => <li><PhotoBasic {photo} meta={photoMetas && findMeta(photo.src)}/></li>)}
			</ul>	
		</div>
	</body>
</html>

<style lang="scss">
	body {
		padding: 0;
		margin: 0;
		padding: 1rem;
	}
	.app {
		margin: 1em auto;
	}
	ul {
		padding: 0;
		li {
			margin: 0 0 1rem 0;
		}
	}
	img {
		width: 100%;
	}
</style>
